* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: linear-gradient(180deg, #0c3b2e, #0f5f3d);
  color: white;
  overflow-x: hidden;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  position: relative;
  z-index: 10;
}

.navbar a {
  color: #eaffea;
  margin-left: 25px;
  text-decoration: none;
  transition: 0.3s;
}

.navbar a:hover {
   
    
   
    transition:.3s;
    transform:scale(1.3);
    
    display:inline-block;
  

}

/* Floating Leaves */
.leaves span {
  position: absolute;
  width: 20px;
  height: 20px;
  background: rgba(202, 255, 191, 0.6);
  border-radius: 50% 0;
  animation: float 10s linear infinite;
  top: -10%;
}

.leaves span:nth-child(1) { left: 10%; animation-delay: 0s; }
.leaves span:nth-child(2) { left: 30%; animation-delay: 2s; }
.leaves span:nth-child(3) { left: 50%; animation-delay: 4s; }
.leaves span:nth-child(4) { left: 70%; animation-delay: 1s; }
.leaves span:nth-child(5) { left: 90%; animation-delay: 3s; }

@keyframes float {
  0% { transform: translateY(0) rotate(0deg); opacity: 1; }
  100% { transform: translateY(120vh) rotate(360deg); opacity: 0; }
}

/* Hero */
.hero {
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-box {
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(15px);
  padding: 60px;
  border-radius: 20px;
  text-align: center;
  max-width: 800px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}

.hero-box h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-box p {
  font-size: 1.2rem;
  color: #eaffea;
  margin-bottom: 35px;
}

.hero-btns button {
  padding: 14px 35px;
  margin: 10px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.primary {
  background: #0b0b0b;
  color: #def4ee;
}

.primary:hover {
  background: #caffbf;
  color: #064635;
}

.secondary {
  background: #101110;
  color: #caffbf;
  border: 2px solid #caffbf;
}

.secondary:hover {
  background: #caffbf;
  color: #064635;
}

/* Stats */
.stats {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 40px;
}

.stat {
  background: rgba(255,255,255,0.1);
  padding: 20px 30px;
  border-radius: 15px;
  transition: 0.3s;
}

.stat:hover {
  transform: translateY(-8px);
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  font-size: 14px;
  
}
