



/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Full height page */
html, body {
  height: 100%;
}


html {
  scroll-behavior: smooth;
}


body {
  background: linear-gradient(180deg, #0f5f3d);
  color: white;
  overflow-x: hidden;
  body {
  padding-top: 80px; /* adjust to navbar height */
}

}


/* Navbar */
.navbar {
  position: sticky;     /* 🔥 makes it permanent */
  top: 0;
  z-index: 1000;        /* stays above all sections */
  background: linear-gradient(180deg, #0c3b2e, #0f5f3d);
  padding: 18px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(8px);
}


.navbar a {
  color: #eaffea;
  margin-left: 25px;
  text-decoration: none;
  transition: 0.3s;
}

.navbar a:hover {
   
    
   
    transition:.3s;
    transform:scale(1.3);
    
    display:inline-block;
  

}

/* Floating Leaves */
.leaves span {
  position: absolute;
  will-change:transform;
  width: 20px;
  height: 20px;
  background: rgba(202, 255, 191, 0.6);
  border-radius: 50% 0;
  animation: float 4s linear infinite;
  top: -10%;
}

@media (max-width: 768px) {
  .leaves span {
    animation-duration: 7s;   /* slower = smoother */
    opacity: 0.4;
  }

  /* show fewer leaves on mobile */
  .leaves span:nth-child(n+4) {
    display: none;
  }
}






.leaves span:nth-child(1) { left: 10%; animation-delay: 0s; }
.leaves span:nth-child(2) { left: 30%; animation-delay: 2s; }
.leaves span:nth-child(3) { left: 50%; animation-delay: 4s; }
.leaves span:nth-child(4) { left: 70%; animation-delay: 1s; }
.leaves span:nth-child(5) { left: 90%; animation-delay: 3s; }

@keyframes float {
  0% { transform: translateY(0) rotate(0deg); opacity: 1; }
  100% { transform: translateY(120vh) rotate(360deg); opacity: 0; }
}

/* Hero */
.hero {
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-box {
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(15px);
  padding: 60px;
  border-radius: 20px;
  text-align: center;
  max-width: 800px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}

.hero-box h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-box p {
  font-size: 1.2rem;
  color: #eaffea;
  margin-bottom: 35px;
}

.hero-btns button {
  padding: 14px 35px;
  margin: 10px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}



.primary {
  background: #0b0b0b;
  color: #def4ee;
}

.primary:hover {
  background: #abb4a9;
  color: #064635;
  box-shadow:0 0 20px rgb(0, 0, 0);
  transition:.3s;

  
    
    transform:scale(1.1);
    
    display:inline-block;
  





}

.secondary {
  background: #101110;
  color: #caffbf;
  border: 2px solid #caffbf;
}

.secondary:hover {
  background: #abb4a9;
  color: #064635;
   box-shadow:0 0 10px rgb(0, 0, 0);
  transition:.3s;


  
   
    transform:scale(1.1);
    
    display:inline-block;
  

}



/* Stats */
.stats {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 40px;
  
}

.stat {
  background: rgba(255,255,255,0.1);
  padding: 20px 30px;
  border-radius: 15px;
  transition: 0.3s;
  cursor: pointer;
}

.stat:hover {
  transform: translateY(-8px);
}




.upload-section {
display: none;
max-width: 500px;
margin: 80px auto;
padding: 30px;
text-align: center;
background: rgba(255,255,255,0.1);
border-radius:20px;
}

.analyze-btn {
  background: linear-gradient(135deg, #00ff99, #00cc7a);
  color: #0f3d2e;
  border: none;
  padding: 14px 35px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(0, 255, 153, 0.4);
  transition: all 0.3s ease;
}

.analyze-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 30px rgba(0, 255, 153, 0.6);
}

.analyze-btn:active {
  transform: scale(0.95);
}

.file-upload {
  display: inline-block;
  padding: 10px 20px;
  background: rgba(13, 15, 14, 0.15);
  color: #eaf9f3;
  

  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Hide default input */
.file-upload input {
  display: none;
}

/* Hover effect */
.file-upload:hover {
  background: rgba(0, 255, 153, 0.3);
  transform: scale(1.05);
}


#leafPreview {
  display: none;
  max-width: 100%;
  margin-top: 20px;
  margin-top: 20px;
  border-radius: 15px;
}

.about-section {
  max-width: 700px;
  
  margin: 100px auto;
  padding: 40px;
  text-align: center;
  background: rgba(255,255,255,0.08);
  border-radius: 25px;
}

.about-container {
  display: flex;
  gap: 40px;
  align-items: center;
  

}
.about-text {
  max-width: 720px;     /* controls line length */
  margin: 0 auto;
}


.about-text h2 {
  color: #00ff99;
  margin-bottom: 20px;
}


.about-text p {
  text-align: left;     /* 🔥 FIXES sentence flow */
  line-height: 1.8;
  font-size: 16px;
  margin-bottom: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about-points {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.about-points span {
  background: rgba(0, 255, 153, 0.15);
  padding: 10px 18px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 14px;
}

.about-image {
  flex: 2;
}
.about-image img {
  width: 380px;        /* 👈 controls size */
  max-width: 100%;
  border-radius: 50px;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.35);
}


/* Team card  */

.team-cards {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}

.team-card-link {
  text-decoration: none;
}

.team-card-link h3 {
  color: #00ff99;
}

.team-card-link span {
  color: #d9fef0;
}

.team-card-link p {
  color: #ffffff;
}

/* Effect for Team leader */

.team-card.leader {
  animation: leaderPulse 3s infinite;
  
}
.team-card-link{
  color: black;
}






.team-card {
  background: linear-gradient(145deg, #0f3d2e, #1e6f5c);
  padding: 25px;
  border-radius: 18px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}

/* Square image */
.team-card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  border: 5px solid #00ff99;
}

/* Text */
.team-card h3 {
  color: #00ff99;
  margin: 10px 0 5px;
}

.team-card span {
  font-size: 14px;
  opacity: 0.9;
}

.team-card p {
  font-size: 14px;
  margin-top: 12px;
  line-height: 1.6;
}

/* Hover effect */
.team-card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 15px 35px rgba(0,255,153,0.35);
}

/* footer side effect and give margin */


.leaf-footer {

  background: linear-gradient(180deg, #0b3a2a, #06261c);
  padding: 70px 0 25px;
  color: #ffffff;
}

/* Centered footer content */
.leaf-footer-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 50px;        /* 👈 SIDE MARGIN (important) */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 50px;
}

/* Footer columns */
.leaf-footer-col h4 {
  font-size: 14px;
  margin-bottom: 16px;
  letter-spacing: 1px;
  color: #00ff99;
}

.leaf-footer-col ul {
  list-style: none;
}

.leaf-footer-col ul li {
  font-size: 14px;
  margin-bottom: 10px;
  opacity: 0.85;
}

/* Brand */
.leaf-footer-col.brand h2 {
  color: #00ff99;
  margin-bottom: 10px;
}

.leaf-footer-col.brand p {
  font-size: 14px;
  opacity: 0.9;
}

/* Bottom bar */
.leaf-footer-bottom {
  max-width: 1200px;
  margin: 40px auto 0;
  padding-top: 20px;
  text-align: center;
  font-size: 13px;
  opacity: 0.75;
    border-top: 1px solid rgba(0,255,153,0.2);

}


















@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-image img {
    width: 220px;
    margin-top: 20px;
  }
}


@media (max-width: 768px) {

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .hero-box h1 {
    font-size: 1.8rem;
  }

  .hero-box p {
    font-size: 0.95rem;
  }

  .about-container {
    flex-direction: column;
  }

  .about-image img {
    width: 200px;
  }

  .team-card:hover {
    transform: none; /* disable hover zoom on mobile */
  }
}
